body {
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color:#CDB4DB;
}
header h2 {
    text-align: center;
}

button {
    margin: 3.5px;
    margin-top: 1vh;
    margin-right: 1vw;
    background-color: #FFC8DD;
}

button:hover{
    background-color: #FFAFCC;
}

.what-meal h3 {
    text-align: center;
}

#ingredient-search-button, .save-preferences button{
    background-color: #BDE0FE;
}

#ingredient-search-button:hover{
    background-color: #CDB4DB;
}

.what-ingredient h3 {
    text-align: center;
}
.save-preferences{
    background-color: #BDE0FE;
    justify-content: center;
    
}

.save-preferences:hover{
    background-color: #CDB4DB;
}



.error-modal-bg, .mealplan-selector-bg, .search-preferences-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.35s;
}

.bg-active {
    visibility: visible;
    opacity: 1;

}

.error-modal {
    position: relative;
    height: 10vh;
    background-color: #FFC8DD;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}


.search-preferences-selector {
    position: relative;
    width: 50vw;
    background-color: #FFC8DD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-preferences-selector, button {
    justify-content: center;
    align-items: center;
}

.mealplan-selector{
    position: relative;
    width: 40vw;
    height: 60vh;
    background-color: #FFC8DD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mealplan-selector img {
    height: auto;
    width: auto;
    max-width: 60%;
    max-height: 60%;
}

.mealplan-formbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vw;
}


.mealplan-confirm h4 {
    font-size: 1vh;
}

.mealplan-selector button {
    margin: 0.5vh;
}

.mealplan-selector h4 {
    font-size: 2.5vh;
}


.modal-close, .mealplan-selector-close, .search-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor:pointer
}

.returned-meal {
    cursor: pointer;
}

.mealplan-div {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    padding: 1vh;
    margin: 0.2vw;
}

.mealplan-div:nth-child(odd) {
    background-color: #CDB4DB;
}

.mealplan-div:nth-child(even){
    background-color: #FFAFCC;
}

.mealplan-div, h3, h4, h5 {
    text-align:center
}

.mealplan-div h3{
    position: relative;
    top: -5px;
    font-weight: bold;
}

.mealslot-div img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}


.row, h3 {
    
}

.what-meal, .what-ingredient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.what-meal{
    background-color: #A2D2FF;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.what-ingredient{
    background-color: #FFAFCC;
}

.returned-meal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vh;
    margin: 2vh;
}

.returned-meal, h4 {
    font-size: 2.35vh;
    font-weight: bold;

}

.returned-meal, img {
    height: 20%;
}

.big-returned-meal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vh;
}

.big-returned-meal img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.big-returned-meal li {
    font-size: 1.8vh;
}

.big-returned-meal button {
    background-color: #BDE0FE;
}

.big-returned-meal button:hover {
    background-color: #CDB4DB;
}



